js  = '/vendor/js/'


scripts = [ 'base', 'excanvas.min', 'faq', 'jquery.flot', 'jquery.flot.orderBars', 'jquery.flot.pie', 'jquery.flot.resize', 'jquery.form', 'signin' ]

each script in scripts
  script(src= js + script + '.js')

script(src='/js/form-validators/accountValidator.js')
script(src='/js/form-validators/loginValidator.js')
script(src='/js/form-validators/emailValidator.js')

script(src='/js/views/clock.js')
script(src='/js/views/print.js')

script(src= '/vendor/js/chosen.jquery.min.js')
script(src= '/vendor/js/spectrum.js')

script(src= '/vendor/bootstrap-modal.js')
script(src= '/vendor/bootstrap-transition.js')
| <script type="text/javascript" src="http://use.typekit.com/lnp0fti.js"></script>
| <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
