
js  = '/vendor/js/'
temp = '/vendor/TEMP/'

scripts = [ 'base', 'bootstrap.min', 'excanvas.min', 'faq', 'jquery.min', 'jquery.flot', 'jquery.flot.orderBars', 'jquery.flot.pie', 'jquery.flot.resize', 'jquery.form', 'signin', 'jquery.isotope' ]

each script in scripts
  script(src= js + script + '.js')

// script(src= temp + 'moment.js')
// script(src= '/vendor/jquery.min.js')
// script(src= '/vendor/jquery.form.js')
// script(src= temp + 'bootstrap-datepicker.js')

script(src= '/vendor/bootstrap-modal.js')
script(src= '/vendor/bootstrap-transition.js')
| <script type="text/javascript" src="http://use.typekit.com/lnp0fti.js"></script>
| <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
