// meta

title= title

meta(http-equiv='Content-type', content='text/html;charset=UTF-8')

meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
meta(name="apple-mobile-web-app-capable", content="yes")

meta(name="keywords", content="spinly")
meta(name="description", content="An app illustrating the usage of Spinly framework")

css = '/vendor/css/'

link(rel='stylesheet', href= '/vendor/css/bs.min.css')
link(rel='stylesheet', href= '/vendor/css/font-awesome.css')
link(rel='stylesheet', href= 'http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600')
link(rel='stylesheet', href='/css/style.css')

script(src='/vendor/js/jquery-1.7.2.min.js')
script(src='/vendor/js/jquery.isotope.js')
script(src='/vendor/js/jquery.maskedinput.js')
script(src='/vendor/js/chosen.jquery.min.js')
script(src='/js/universal.js')

