
@import 'nib'
  

// bootstrap

.clearfix
  *zoom: 1

.clearfix:before,.clearfix:after
  display: table
  content: ""

.clearfix:after
  clear: both

.hide-text
  overflow: hidden
  text-indent: 100%
  white-space: nowrap

.input-block-level
  display: block
  width: 100%
  min-height: 28px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -ms-box-sizing: border-box
  box-sizing: border-box

.fadeIn
  display none

.jsHide
  display none


.hidden
  display none
  visibility hidden
  position absolute

.visible-phone
  display: none

.visible-tablet
  display: none

.visible-desktop
  display: block

.hidden-phone
  display: block

.hidden-tablet
  display: block

.hidden-desktop
  display: none

@media (max-width:767px)
  .visible-phone
    display: block

  .hidden-phone
    display: none

  .hidden-desktop
    display: block

  .visible-desktop
    display: none

@media (min-width:768px) and (max-width:979px)
  .visible-tablet
    display: block

  .hidden-tablet
    display: none

  .hidden-desktop
    display: block

  .visible-desktop
    display: none

@media (max-width:480px)
  .nav-collapse
    -webkit-transform: translate3d(0, 0, 0)

  .page-header h1 small
    display: block
    line-height: 18px

  input[type="checkbox"],input[type="radio"]
    border: 1px solid #ccc

  .form-horizontal .control-group>label
    float: none
    padding-top: 0
    text-align: left

  .form-horizontal .controls
    margin-left: 0

  .form-horizontal .control-list
    padding-top: 0

  .form-horizontal .form-actions
    padding-left: 10px
    padding-right: 10px

  .modal
    position: absolute
    top: 10px
    left: 10px
    right: 10px
    width: auto
    margin: 0

  .modal.fade.in
    top: auto

  .modal-header .close
    padding: 10px
    margin: -10px

  .carousel-caption
    position: static

@media (max-width:767px)
  body
    padding-left: 20px
    padding-right: 20px

  .navbar-fixed-top
    margin-left: -20px
    margin-right: -20px

  .container
    width: auto

  .row-fluid
    width: 100%

  .row
    margin-left: 0

  .row>[class*="span"],.row-fluid>[class*="span"]
    float: none
    display: block
    width: auto
    margin: 0

  .thumbnails [class*="span"]
    width: auto

  // input[class*="span"],select[class*="span"],textarea[class*="span"],.uneditable-input
  //   display: block
  //   width: 100%
  //   min-height: 28px
  //   -webkit-box-sizing: border-box
  //   -moz-box-sizing: border-box
  //   -ms-box-sizing: border-box
  //   box-sizing: border-box

  .input-prepend input[class*="span"],.input-append input[class*="span"]
    width: auto

@media (min-width:768px) and (max-width:979px)
  .row
    margin-left: -20px
    *zoom: 1

  .row:before,.row:after
    display: table
    content: ""

  .row:after
    clear: both

  [class*="span"]
    float: left
    margin-left: 20px

  .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container
    width: 724px

  .span12
    width: 724px

  .span11
    width: 662px

  .span10
    width: 600px

  .span9
    width: 538px

  .span8
    width: 476px

  .span7
    width: 414px

  .span6
    width: 352px

  .span5
    width: 290px

  .span4
    width: 228px

  .span3
    width: 166px

  .span2
    width: 104px

  .span1
    width: 42px

  .offset12
    margin-left: 764px

  .offset11
    margin-left: 702px

  .offset10
    margin-left: 640px

  .offset9
    margin-left: 578px

  .offset8
    margin-left: 516px

  .offset7
    margin-left: 454px

  .offset6
    margin-left: 392px

  .offset5
    margin-left: 330px

  .offset4
    margin-left: 268px

  .offset3
    margin-left: 206px

  .offset2
    margin-left: 144px

  .offset1
    margin-left: 82px

  .row-fluid
    width: 100%
    *zoom: 1

  .row-fluid:before,.row-fluid:after
    display: table
    content: ""

  .row-fluid:after
    clear: both

  .row-fluid>[class*="span"]
    float: left
    margin-left: 2.762430939%

  .row-fluid>[class*="span"]:first-child
    margin-left: 0

  .row-fluid > .span12
    width: 99.999999993%

  .row-fluid > .span11
    width: 91.436464082%

  .row-fluid > .span10
    width: 82.87292817100001%

  .row-fluid > .span9
    width: 74.30939226%

  .row-fluid > .span8
    width: 65.74585634900001%

  .row-fluid > .span7
    width: 57.182320438000005%

  .row-fluid > .span6
    width: 48.618784527%

  .row-fluid > .span5
    width: 40.055248616%

  .row-fluid > .span4
    width: 31.491712705%

  .row-fluid > .span3
    width: 22.928176794%

  .row-fluid > .span2
    width: 14.364640883%

  .row-fluid > .span1
    width: 5.801104972%

  input,textarea,.uneditable-input
    margin-left: 0

  input.span12, textarea.span12, .uneditable-input.span12
    width: 714px

  input.span11, textarea.span11, .uneditable-input.span11
    width: 652px

  input.span10, textarea.span10, .uneditable-input.span10
    width: 590px

  input.span9, textarea.span9, .uneditable-input.span9
    width: 528px

  input.span8, textarea.span8, .uneditable-input.span8
    width: 466px

  input.span7, textarea.span7, .uneditable-input.span7
    width: 404px

  input.span6, textarea.span6, .uneditable-input.span6
    width: 342px

  input.span5, textarea.span5, .uneditable-input.span5
    width: 280px

  input.span4, textarea.span4, .uneditable-input.span4
    width: 218px

  input.span3, textarea.span3, .uneditable-input.span3
    width: 156px

  input.span2, textarea.span2, .uneditable-input.span2
    width: 94px

  input.span1, textarea.span1, .uneditable-input.span1
    width: 32px

@media (max-width:979px)
  body
    padding-top: 0

  .navbar-fixed-top
    position: static
    // margin-bottom: 18px

  // .navbar-fixed-top .navbar-inner
  //   padding: 5px

  .navbar .container
    width: auto
    padding: 0

  .navbar .brand
    padding-left: 10px
    padding-right: 10px
    margin: 0 0 0 -5px

  .navbar .nav-collapse
    clear: left

  .navbar .nav
    float: none
    margin: 0 0 9px

  .navbar .nav>li
    float: none

  .navbar .nav>li>a
    margin-bottom: 2px

  .navbar .nav>.divider-vertical
    display: none

  .navbar .nav .nav-header
    color: #999999
    text-shadow: none

  .navbar .nav>li>a,.navbar .dropdown-menu a
    padding: 6px 15px
    font-weight: bold
    color: #999999
    border-radius: 3px

  .navbar .dropdown-menu li+li a
    margin-bottom: 2px

  .navbar .nav>li>a:hover,.navbar .dropdown-menu a:hover
    background-color: #222222

  .navbar .dropdown-menu
    position: static
    top: auto
    left: auto
    float: none
    display: block
    max-width: none
    margin: 0 15px
    padding: 0
    background-color: transparent
    border: none
    border-radius: 0
    box-shadow: none

  .navbar .dropdown-menu:before,.navbar .dropdown-menu:after
    display: none

  .navbar .dropdown-menu .divider
    display: none

  .navbar-form,.navbar-search
    float: none
    padding: 9px 15px
    margin: 9px 0
    border-top: 1px solid #222222
    border-bottom: 1px solid #222222
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),0 1px 0 rgba(255, 255, 255, 0.1)
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),0 1px 0 rgba(255, 255, 255, 0.1)
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1),0 1px 0 rgba(255, 255, 255, 0.1)

  .navbar .nav.pull-right
    float: none
    margin-left: 0
    padding-right 33px


  .navbar-static .navbar-inner
    padding-left: 10px
    padding-right: 10px

  .btn-navbar
    display: block
    background none
    margin -4px 50px 16px!important
    &:hover
      background none
      box-shadow inset 0 2px 20px rgba(0, 0, 0, 0.1),0 1px 3px rgba(255, 255, 255, 0.05)

  .nav-collapse
    overflow: hidden
    height: 0

@media (min-width:980px)
  .nav-collapse.collapse
    height: auto
    overflow: visible

@media (min-width:1200px)
  .row
    margin-left: -30px
    *zoom: 1

  .row:before,.row:after
    display: table
    content: ""

  .row:after
    clear: both

  [class*="span"]
    float: left
    margin-left: 30px

  .container,.navbar-fixed-top .container,.navbar-fixed-bottom .container
    width: 1170px

  .span12
    width: 1170px

  .span11
    width: 1070px

  .span10
    width: 970px

  .span9
    width: 870px

  .span8
    width: 770px

  .span7
    width: 670px

  .span6
    width: 570px

  .span5
    width: 470px

  .span4
    width: 370px

  .span3
    width: 270px

  .span2
    width: 170px

  .span1
    width: 70px

  .offset12
    margin-left: 1230px

  .offset11
    margin-left: 1130px

  .offset10
    margin-left: 1030px

  .offset9
    margin-left: 930px

  .offset8
    margin-left: 830px

  .offset7
    margin-left: 730px

  .offset6
    margin-left: 630px

  .offset5
    margin-left: 530px

  .offset4
    margin-left: 430px

  .offset3
    margin-left: 330px

  .offset2
    margin-left: 230px

  .offset1
    margin-left: 130px

  .row-fluid
    width: 100%
    *zoom: 1

  .row-fluid:before,.row-fluid:after
    display: table
    content: ""

  .row-fluid:after
    clear: both

  .row-fluid>[class*="span"]
    float: left
    margin-left: 2.564102564%

  .row-fluid>[class*="span"]:first-child
    margin-left: 0

  .row-fluid > .span12
    width: 100%

  .row-fluid > .span11
    width: 91.45299145300001%

  .row-fluid > .span10
    width: 82.905982906%

  .row-fluid > .span9
    width: 74.358974359%

  .row-fluid > .span8
    width: 65.81196581200001%

  .row-fluid > .span7
    width: 57.264957265%

  .row-fluid > .span6
    width: 48.717948718%

  .row-fluid > .span5
    width: 40.170940171000005%

  .row-fluid > .span4
    width: 31.623931624%

  .row-fluid > .span3
    width: 23.076923077%

  .row-fluid > .span2
    width: 14.529914530000001%

  .row-fluid > .span1
    width: 5.982905983%

  input,textarea,.uneditable-input
    margin-left: 0

  input.span12, textarea.span12, .uneditable-input.span12
    width: 1160px

  input.span11, textarea.span11, .uneditable-input.span11
    width: 1060px

  input.span10, textarea.span10, .uneditable-input.span10
    width: 960px

  input.span9, textarea.span9, .uneditable-input.span9
    width: 860px

  input.span8, textarea.span8, .uneditable-input.span8
    width: 760px

  input.span7, textarea.span7, .uneditable-input.span7
    width: 660px

  input.span6, textarea.span6, .uneditable-input.span6
    width: 560px

  input.span5, textarea.span5, .uneditable-input.span5
    width: 460px

  input.span4, textarea.span4, .uneditable-input.span4
    width: 360px

  input.span3, textarea.span3, .uneditable-input.span3
    width: 260px

  input.span2, textarea.span2, .uneditable-input.span2
    width: 160px

  input.span1, textarea.span1, .uneditable-input.span1
    width: 60px

  .thumbnails
    margin-left: -30px

  .thumbnails>li
    margin-left: 30px


// ISOTOPE STYLES

.thingy
  border-radius 0


.isotope-item
  z-index 2

.isotope-hidden.isotope-item
  pointer-events none
  z-index 1

.isotope,
.isotope .isotope-item
  transition-duration 0.5s

.isotope
  transition-property height, width

.isotope .isotope-item
  -webkit-transition-property -webkit-transform, opacity
  -moz-transition-property -moz-transform, opacity
  -ms-transition-property -ms-transform, opacity
  -o-transition-property top, left, opacity
  transition-property transform, opacity

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition
  transition-duration 0s

.isotope.infinite-scrolling
  transition none

//    MAIN



.main-inner
  padding-top 30px


.center
  position absolute

.centered
  margin 0 auto
  float none

.middle
  text-align center



//    FORMS

form
.form-actions
  background none
  border none
#login-form
  margin-bottom 0

input#phone-tf
  // font-family 'Courier New'!important

input
textarea
select
.uneditable-input
  display inline-block
  width 210px
  height 18px
  padding 4px
  margin-bottom 9px
  font-size 13px
  line-height 18px
  color #555555
  border 1px solid #BBB
  border-radius 3px

.uneditable-input
  color #777
  background #eee


.input-mini
  width 60px
.input-small
  width 90px
.input-medium
  width 150px
.input-large
  width 210px
.input-xlarge
  width 270px
.input-xxlarge
  width 530px


raiseText()
	color grey
	// text-shadow: -1px 1px 0 white
	// -moz-text-shadow: -1px 1px 0 white
	// -webkit-text-shadow: -1px 1px 0 white

body 
	margin  0
	padding  0
	height  100%

// body > .wrapper > .inner
//   height 100%!important


// account form on signup & home page //

.account-container
  .content
    display block!important

#account-form-container
	width 460px
	margin 100px auto
#country-list
	width 280px
.modal-form-errors li
	raiseText()
	color #D8000C

// retrieve password window //

.modal-single-input
	width 452px	
	margin -200px 0 0 -232px
	form
		raiseText()
		margin-bottom 0		
 		button
			width 80px
			top 213px
			position absolute
		#cancel
			right 110px
		#submit
			right 18px
	.modal-body
		height 140px
		overflow hidden	
		padding-bottom 0
	.modal-footer
		height 20px

.modal-alert{
	width 310px
	margin -200px 0 0 -150px
}

// support pages //

#print
	padding 20px
#four04
	padding:20px	
    
// general shared rules //
.clear-fix
	clear both
.well
	margin-left 0
	border 1px solid #CCC

.form-horizontal .control-label
  padding 5px 20px 0 10%
	width 15%
  .controls
    input[name="coupon_price"]
      text-align right

.form-horizontal .controls
	margin 0 120px
.form-horizontal .form-actions
  text-align center
	padding-top 17px
  padding 0


input
  &.coupon-price
    width 30px

label
	raiseText()	
.subheading
	raiseText()
	margin-top 3px
button i
	padding-left 8px	

// BASE ADMIN

Ffamily()
  font-family 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif

Fbody()
  Ffamily()
  font-size 16px
  line-height 30px
  color #666

Fheaders()
  Ffamily()
  color #777
  font-weight normal

body
  background: #CBCCD1 url(../vendor/img/groovepaper.png) repeat 0 0
  Fbody()


p
  Fbody()

h1,h2,h3,h4,h5,h6
  Fheaders()

input,
button,
select,
textarea
  Ffamily()

.dropdown .dropdown-menu
  border-radius: 6px

.btn-icon-only
  padding-right: 3px
  padding-left: 3px

.table td
  vertical-align: middle

.table-bordered th
  background: linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%)
  font-size: 10px
  color: #444
  text-transform: uppercase



padtop = 250px


//    PAGINATION

.pagination
  height:36px
  margin:18px 0
  ul
    display inline-block
    box-shadow 0 1px 3px rgba(0,0,0,0.5)
    border-radius 3px
    border-top 1px solid white
    background whiteSmoke
  li
    display inline
    a
      float left
      padding 0 14px
      line-height 34px
      text-shadow 0 1px 0 white
      text-decoration none

    &:first-child a
      border-radius 3px 0 0 3px
    &:last-child a
      border-radius 0 3px 3px 0
    &.active
      a
        color #999

  .disabled 
    span
    a
      &:hover
        color #999999
        background-color transparent
        cursor default


.pagination-centered{text-align:center;}

.pagination-right{text-align:right;}




//    FONT AWESOME ICONS

li [class^="icon-"] 
li [class*=" icon-"]
  display inline-block
  width 1.75em
  text-align center


.widget
  .heading
    text-align center
    padding 0 10px 20px
    color #454545
    overflow visible
  // p
  //   color white


//    COUPON-CONTAINER

.coupon-container
  margin 20px auto 0
  padding-bottom 250px

//    COUPON

ff = 12px


.headers
  text-align center
  margin-top 50px
  border-radius 50px
  box-shadow inset 0 1px 5px -1px gray
  border-bottom 2px solid white
  background white
  line-height 0
  display inline-block
  .header
    display inline-block
    padding 0 20px
    font-size 12px
    text-decoration none
    text-shadow 0 1px 1px white
    border-top 20px transparent solid
    border-bottom 20px transparent solid
    border-left 1px white solid
    border-right 1px #ccc solid
    color #555
    &:first-child
      border-left-width 0
      padding-left 30px
    &:last-child
      border-right-width 0
      padding-right 30px
    &:hover
      color #2585ce
    &.disabled
      cursor pointer
      color #ccc


#preview
  .coupon
    margin 0 auto
    float none

// .coupon
//   width 255px
//   float left
//   margin 10px
//   box-shadow 0 2px 5px 0 #555
//   font-size ff
//   line-height ff + 5
//   background whiteSmoke
//   box-shadow 0 1px 3px rgba(0,0,0,0.50)
//   border-top 1px solid white



//    ORDER

#welcome
  text-align center
  position relative
  margin-top 10%
  color #666
  text-shadow 0 1px 0 #fff

.order-wrapper
  // box-shadow inset 0 13px 26px -10px #000
  // background #2b2b2b url(../vendor/img/low_contrast_linen.png) repeat 0 0
  overflow hidden

  .order-container
    width 80%
    max-width 1080px
    margin 0 auto
  p
    display inline-block
    color white
    text-shadow 0 1px 1px rgba(0, 0, 0, 0.4)
    padding 10px
    font-weight bold
    font-size 18px


Step(o)
  // background white
  border-radius (o)
  // background-image linear-gradient(top, white 0%, #Ebecee 100%)
  background-image linear-gradient(top, #31597A 0%, #2A4D69 100%)


  border-bottom #fafafa
  display inline-block
  vertical-align middle
  box-shadow 0 1px 2px rgba(0,0,0,0.2),0 0 1px rgba(0,0,0,0.2)
  position relative
  padding 3px 0 8px
  margin 0
  li
    list-style-type none
    padding 0px 14px
  a
    color #e8eef2
    font-size 12px
    text-transform lowercase
    text-decoration none
    // text-shadow 0 1px 1px white, 0 -1px -1px white
    cursor pointer
    &.active
      color #111
      border-bottom 1px dashed #555
    &.inactive
      color #ccc

#steps
  padding 13px 10px 10px
  display inline-block
  background url(../vendor/img/line.png) center repeat-x
  .step
    display inline-block
    &.sorts>ul
      border-radius 3px 0 0 3px
      text-align right
      left 4px
    &.tags
      Step(0 3px 3px 0, transparent)
      width 100px
      ul
        display none
        margin 0
      &:before
        border none
    &.tag-handler
      width 90px
      margin-left -5px
      p
        display none
        text-transform lowercase
        text-align center
        width 100%
        padding 0



.step.cats>ul
.step.sorts>ul
.step.area>ul
  Step(3px)
  // &:before
  //   content ''
  //   position absolute
  //   right 100%
  //   width 0
  //   height 0
  //   border-top 4px solid transparent
  //   border-right 5px solid white
  //   border-bottom 4px solid transparent
  //   margin-top -4px
  //   top 50%

.dull
  i
    text-shadow 0 1px 1px rgba(255, 255, 255, 0.1), 0 -1px 0px rgba(0, 0, 0, 0.1)
    color #305D7F

//    NAVIGATION

.navbar-inner
  background #3c6c93
  border-radius 0
  box-shadow none
  // padding 15px 0 0 0
  .container
    padding 10px 0

.navbar-fixed-top
  position: static

HL = white

.navbar 
  .nav 
    font-size 24px
    font-weight 400
    margin-bottom 0
    li
      text-align right
      a
        padding 10px 14px 11px
        text-shadow none
        color HL
        &:hover
          background none
          color HL
  .btn
  .btn-group
    margin 10px
  &.pull-right
    width 100%
    text-align center
    margin-bottom 0
  .brand-container
    position absolute
    .inner
      &:hover
        .brand
          color HL
      text-decoration none
      display block
      position relative
      width 100px
      top -10px
      left 20px
      .brand
        right -100px
        top -2px
        position absolute
        padding 0
        margin 0
        font-family "mic-32-new-web", Helvetica
        font-size 32px
        font-weight 600
        color desaturate(HL, 100%)
        // text-shadow 0 1px -7px white
        letter-spacing -1px
        z-index 20
        span.title
          display inline-block
          width 100%
        span.subscript
          font-size 11px
          font-weight 400
          vertical-align top
          display inline-block
          color HL
      #canvas
        top -75px
        left -65px
        position absolute
        transform scale(0.3)

  .search-query
    background-color: #444
    width: 150px
    font-size: 11px
    font-weight: bold

.navbar .search-query::-webkit-input-placeholder
  color: #666

.navbar .search-query:-moz-placeholder
  color: #666

.nav-collapse
  // &.in
  width 100%
  text-align center
  

//    SUBNAVBAR

.subnavbar
  margin-bottom: 2.5em
  border-top: 1px solid #595959

.subnavbar-inner
  height: 80px
  background: #3A3A3A
  background-image: linear-gradient(top, #414141, #323232)
  background-repeat: repeat-x
  // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#414141', endColorstr='#323232', GradientType=0)
  border-bottom: 1px solid #000

.subnavbar .container > ul
  display: inline-block
  height: 80px
  padding: 0
  margin: 0
  border-left: 1px solid #292929
  border-right: 1px solid #4A4A4A

.subnavbar .container > ul > li
  float: left
  min-width: 90px
  height: 80px
  padding: 0
  margin: 0
  text-align: center
  list-style: none
  border-left: 1px solid #4A4A4A
  border-right: 1px solid #292929

.subnavbar .container > ul > li > a
  display: block
  height: 100%
  padding: 0 15px
  font-size: 12px
  font-weight: bold
  color: #636363
  text-shadow: 1px 1px 1px rgba(0,0,0,.2)

.subnavbar .container > ul > li > a:hover
  color: #888
  text-decoration: none

.subnavbar .container > ul > li > a > i
  display: inline-block
  width: 24px
  height: 24px
  margin-top: 17px
  margin-bottom: .25em
  font-size: 28px

.subnavbar .container > ul > li > a > span
  display: block

.subnavbar .container > ul > li.active > a
  background: #333
  color: #F90

.subnavbar .dropdown .dropdown-menu a
  font-size: 12px

.subnavbar .dropdown .dropdown-menu
  text-align: left
  border-top-left-radius: 0
  border-top-right-radius: 0

.subnavbar .dropdown-menu::before
  content: ''
  display: inline-block
  border-left: 7px solid transparent
  border-right: 7px solid transparent
  border-bottom: 7px solid #CCC
  border-bottom-color: rgba(0, 0, 0, 0.2)
  position: absolute
  top: -7px
  left: 9px

.subnavbar .dropdown-menu::after
  content: ''
  display: inline-block
  border-left: 6px solid transparent
  border-right: 6px solid transparent
  border-bottom: 6px solid white
  position: absolute
  top: -6px
  left: 10px

.subnavbar .caret
  margin-top: 4px
  border-top-color: white
  border-bottom-color: white

.subnavbar .dropdown.open .caret
  display: none

.main
  padding-bottom: 2em
  border-bottom: 1px solid #000

.extra
  border-top: 1px solid #585858
  border-bottom: 1px solid #000

.extra-inner
  padding: 20px 0
  font-size: 11px
  color: #BBB
  background: #1A1A1A

.extra a
  color: #666

.extra h4
  margin-bottom: 1em
  font-weight: 400

.extra ul
  padding: 0
  margin: 0

.extra li
  margin-bottom: .6em
  list-style: none

.footer
  margin-top: 0
  border-top: 1px solid #292929

.footer-inner
  padding: 15px 0
  font-size: 12px
  background: #111
  color: #999

.footer a
  color: #999

.footer a:hover
  color: #FFF
  text-decoration: none


.widgets
  top 100px
  position relative

.widgets-group
  G = 500px
  B = 36px
  b = (B / 2)
  position absolute
  width 100%
  height G
  margin-top 40px
  background #e0e0e0
  border-radius 5px
  box-shadow inset 0 1px 3px #aaa
  border-bottom 1px solid silver
  .widget
    height G - B - B
    // .widget-content
  #offer-nav
    padding-top G - b
    margin 0
    ul
      margin 0
    

.steady
.widget
  position absolute
  width 100%
  left 0
  .inner
  .widget-content
    position relative
    // width 80%
    padding 40px 40px 50px
    margin 0 auto
    max-width 600px
    left 15px

.greeting
  padding-bottom 40px

.widget-header
  position: relative
  height: 40px
  line-height: 40px
  cursor pointer

.widget-header h3
  position: relative
  top: 2px
  left: 10px
  display: inline-block
  margin-right: 3em
  font-size: 14px
  font-weight: 300
  color: #fff
  line-height: 18px

.widget-header [class^="icon-"], .widget-header [class*=" icon-"]
  display: inline-block
  margin-left: 13px
  margin-right: -2px
  font-size: 16px
  color: #555
  vertical-align: middle

.widget-content
  // padding: 20px 15px 15px

.widget-header+.widget-content
  border-top: none
  -webkit-border-top-left-radius: 0
  -webkit-border-top-right-radius: 0
  -moz-border-radius-topleft: 0
  -moz-border-radius-topright: 0
  border-top-left-radius: 0
  border-top-right-radius: 0

.widget-nopad .widget-content
  padding: 0

.widget-content:before,
.widget-content:after
  content: ""
  display: table

.widget-content:after
  clear: both

.widget-content
  zoom: 1

.widget-table .widget-content
  padding: 0

.widget-table .table
  margin-bottom: 0
  border: none

.widget-table .table tr td:first-child
  border-left: none

.widget-table .table tr th:first-child
  border-left: none

.widget-plain
  background: transparent
  border: none

.widget-plain .widget-content
  padding: 0
  background: transparent
  border: none

.widget-box

.widget-box .widget-content
  background: #FFF

.error-container
  margin-top: 4em
  margin-bottom: 4em
  text-align: center

.error-container h1
  margin-bottom: .5em
  font-size: 120px
  line-height: 1em

.error-container h2
  margin-bottom: .75em
  font-size: 28px

.error-container .error-details
  margin-bottom: 1.5em
  font-size: 16px

.error-container .error-actions a
  margin: 0 .5em

.chart-holder
  width: 100%
  height: 250px

//
// CHOSEN
//

.chzn-container
  font-size: 13px
  position: relative
  display: inline-block
  zoom: 1
  *display: inline

.chzn-container .chzn-drop
  background: #fff
  border: 1px solid #aaa
  border-top: 0
  position: absolute
  top: 29px
  left: 0
  -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15)
  -moz-box-shadow: 0 4px 5px rgba(0,0,0,.15)
  -o-box-shadow: 0 4px 5px rgba(0,0,0,.15)
  box-shadow: 0 4px 5px rgba(0,0,0,.15)
  z-index: 1010

.chzn-container-single .chzn-single
  background-color: #ffffff
  // background-image: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%)
  border-radius 3px
  background-clip: padding-box
  border: 1px solid #bbb
  box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.05)
  display: block
  overflow: hidden
  white-space: nowrap
  position: relative
  // height: 23px
  // line-height: 24px
  padding 2px 4px
  color: #444444
  text-decoration: none

.chzn-container-single .chzn-default
  color: #999

.chzn-container-single .chzn-single span
  line-height 22px
  margin-right: 26px
  display: block
  overflow: hidden
  white-space: nowrap
  -o-text-overflow: ellipsis
  -ms-text-overflow: ellipsis
  text-overflow: ellipsis

.chzn-container-single .chzn-single abbr
  display: block
  position: absolute
  right: 26px
  top: 6px
  width: 12px
  height: 13px
  font-size: 1px
  background: url(../vendor/img/chosen-sprite.png) right top no-repeat

.chzn-container-single .chzn-single abbr:hover
  background-position: right -11px

.chzn-container-single.chzn-disabled .chzn-single abbr:hover
  background-position: right top

.chzn-container-single .chzn-single div
  position: absolute
  right: 0
  top: 0
  display: block
  height: 100%
  width: 18px

.chzn-container-single .chzn-single div b
  background: url(../vendor/img/chosen-sprite.png) no-repeat 0 0
  display: block
  width: 100%
  height: 100%

.chzn-container-single .chzn-search
  padding: 3px 4px
  position: relative
  margin: 0
  white-space: nowrap
  z-index: 1010

.chzn-container-single .chzn-search input
  background: url(../vendor/img/chosen-sprite.png) no-repeat 100% -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%)
  margin: 1px 0
  padding: 4px 20px 4px 5px
  outline: 0
  border: 1px solid #aaa
  font-family: sans-serif
  font-size: 1em

.chzn-container-single .chzn-drop
  border-radius: 0 0 3px 3px
  background-clip: padding-box

.chzn-container-single-nosearch .chzn-search input
  position: absolute
  left: -9000px

.chzn-container-multi .chzn-choices
  background-color: #fff
  background-image: linear-gradient(top, #eeeeee 1%, #ffffff 15%)
  border: 1px solid #BBB
  margin: 0
  padding: 0
  cursor: text
  overflow: hidden
  height: 1%
  position: relative

.chzn-container-multi .chzn-choices li
  float: left
  list-style: none

.chzn-container-multi .chzn-choices .search-field
  white-space: nowrap
  margin: 0
  padding: 0

.chzn-container-multi .chzn-choices .search-field input
  color: #666
  background: transparent
  border: 0
  font-family: sans-serif
  font-size: 100%
  height: 15px
  padding: 5px
  margin: 1px 0
  outline: 0
  -webkit-box-shadow: none
  -moz-box-shadow: none
  -o-box-shadow: none
  box-shadow: none

.chzn-container-multi .chzn-choices .search-field .default
  color: #999

.chzn-container-multi .chzn-choices .search-choice
  border-radius: 3px
  background-clip: padding-box
  background-color: #e4e4e4
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 )
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%)
  -webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05)
  -moz-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05)
  box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05)
  color: #333
  border: 1px solid #aaaaaa
  line-height: 13px
  padding: 3px 20px 3px 5px
  margin: 3px 0 3px 5px
  position: relative
  cursor: default

.chzn-container-multi .chzn-choices .search-choice-focus
  background: #d4d4d4

.chzn-container-multi .chzn-choices .search-choice .search-choice-close
  display: block
  position: absolute
  right: 3px
  top: 4px
  width: 12px
  height: 13px
  font-size: 1px
  background: url(../vendor/img/chosen-sprite.png) right top no-repeat

.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover
  background-position: right -11px

.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close
  background-position: right -11px

.chzn-container .chzn-results
  margin: 0 4px 4px 0
  max-height: 240px
  padding: 0 0 0 4px
  position: relative
  overflow-x: hidden
  overflow-y: auto
  -webkit-overflow-scrolling: touch

.chzn-container-multi .chzn-results
  margin: -1px 0 0
  padding: 0

.chzn-container .chzn-results li
  display: none
  line-height: 15px
  padding: 5px 6px
  margin: 0
  list-style: none

.chzn-container .chzn-results .active-result
  cursor: pointer
  display: list-item

.chzn-container .chzn-results .highlighted
  background-color: #3875d7
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0 )
  background-image: linear-gradient(top, #3875d7 20%, #2a62bc 90%)
  color: #fff

.chzn-container .chzn-results li em
  background: #feffde
  font-style: normal

.chzn-container .chzn-results .highlighted em
  background: transparent

.chzn-container .chzn-results .no-results
  background: #f4f4f4
  display: list-item

.chzn-container .chzn-results .group-result
  cursor: default
  color: #999
  font-weight: bold

.chzn-container .chzn-results .group-option
  padding-left: 15px

.chzn-container-multi .chzn-drop .result-selected
  display: none

.chzn-container .chzn-results-scroll
  background: white
  margin: 0 4px
  position: absolute
  text-align: center
  width: 321px
  z-index: 1

.chzn-container .chzn-results-scroll span
  display: inline-block
  height: 17px
  text-indent: -5000px
  width: 9px

.chzn-container .chzn-results-scroll-down
  bottom: 0

.chzn-container .chzn-results-scroll-down span
  background: url(../vendor/img/chosen-sprite.png) no-repeat -4px -3px

.chzn-container .chzn-results-scroll-up span
  background: url(../vendor/img/chosen-sprite.png) no-repeat -22px -3px

.chzn-container-active .chzn-single
  box-shadow: 0 0 5px rgba(0,0,0,.3)
  border: 1px solid #5897fb

.chzn-container-active .chzn-single-with-drop
  border: 1px solid #aaa
  box-shadow: 0 1px 0 #fff inset
  background-color: #eee
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0 )
  background-image: linear-gradient(top, #eeeeee 20%, #ffffff 80%)
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0

.chzn-container-active .chzn-single-with-drop div
  background: transparent
  border-left: none

.chzn-container-active .chzn-single-with-drop div b
  background-position: -18px 1px

.chzn-container-active .chzn-choices
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.3)
  -moz-box-shadow: 0 0 5px rgba(0,0,0,.3)
  -o-box-shadow: 0 0 5px rgba(0,0,0,.3)
  box-shadow: 0 0 5px rgba(0,0,0,.3)
  border: 1px solid #5897fb

.chzn-container-active .chzn-choices .search-field input
  color: #111

.chzn-disabled
  cursor: default
  opacity: 0.5

.chzn-disabled .chzn-single
  cursor: default

.chzn-disabled .chzn-choices .search-choice .search-choice-close
  cursor: default

.chzn-rtl
  text-align: right

.chzn-rtl .chzn-single
  padding: 0 8px 0 0
  overflow: visible

.chzn-rtl .chzn-single span
  margin-left: 26px
  margin-right: 0
  direction: rtl

.chzn-rtl .chzn-single div
  left: 3px
  right: auto

.chzn-rtl .chzn-single abbr
  left: 26px
  right: auto

.chzn-rtl .chzn-choices .search-field input
  direction: rtl

.chzn-rtl .chzn-choices li
  float: right

.chzn-rtl .chzn-choices .search-choice
  padding: 3px 5px 3px 19px
  margin: 3px 5px 3px 0

.chzn-rtl .chzn-choices .search-choice .search-choice-close
  left: 4px
  right: auto
  background-position: right top

.chzn-rtl.chzn-container-single .chzn-results
  margin: 0 0 4px 4px
  padding: 0 4px 0 0

.chzn-rtl .chzn-results .group-option
  padding-left: 0
  padding-right: 15px

.chzn-rtl.chzn-container-active .chzn-single-with-drop div
  border-right: none

.chzn-rtl .chzn-search input
  background: url(../vendor/img/chosen-sprite.png) no-repeat -38px -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%)
  padding: 4px 5px 4px 20px
  direction: rtl


