
@import 'nib'

// RESETS


global-reset()


// MAIN

// .jsFade
//   display none

Active( a = true )
  color rgba( 0,0,0, 0.6 )
  if a
    color rgba(0,0,0, 0.7 )
  else
    color rgba(0,0,0, 0.5 )

Ffamily()
  font-family 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif
Hfamily()
  font-family 'freight-sans-pro', 'Helvetica Neue', Helvetica, Arial, sans-serif


Fbody()
  Ffamily()
  font-size 16px
  line-height 24px
  color black

Fheaders(i,o)
  Hfamily()
  color black
  font-weight medium
  font-size i
  line-height o
  user-select none
  cursor default

Iwidth = 390px

a
  Active( )

h1
  Fheaders( 60px, 88px )
h2
  Fheaders( 30px, 42px )
h3
  Fheaders( 24px, 42px )
h4
  Fheaders( 18px, 31.5px )
h5
  Fheaders( 14px, 21px )
h6
  Fheaders( 12px, 21px )


input,
button,
select,
textarea
  Ffamily()
  Active( false )





body
  Fbody()
  hyphens auto
  background-color white
  display block
  position absolute
  left 0
  right 0
  top 0
  margin 0
  height 100%

section#sidebar
  .inner
    width 150px
    padding-left 10%
    position fixed
    min-height 100%
    border-right 1px solid #dbdbdb

figure#brand
  h = 100px
  z = round(h / 20)
  position fixed
  top 4%
  margin-left 10%
  left -(z + (h / 4))
  border-radius h
  border 10px solid white
  a
    font-weight 900
    letter-spacing -1px
    font-size 60px
    line-height 60px
    color white
    text-align center
    line-height h
    display block
    height h
    width h
    margin z
    border-radius h
    background white

section#content
  margin-left 150px
  right -10%
  margin-right 10%
  position relative
  padding 0 0px 30px 0px
  height 100%




nav
  ul
    margin 0
  li
    Hfamily()
    s = 50px
    z = (s / 2)
    font-weight bold
    list-style none
    transition 0.3s
    height s
    width s
    q = (s / 5)
    margin q q (q * 4)
    &.disabled
      cursor default
      opacity 0.2
    a
      color white
      display block
      text-transform lowercase
      text-align center
      &:hover
      &.active
        color white
      i
        font-size f = round(z - (z / 20))
        line-height f
      span
        font-size 11px
        display block
        font-weight 600
        text-transform uppercase
        color black

  &#nav-home
    position absolute
    height 70%
    bottom 0
    i
      color white
    a
      span
        color white
  &#nav-top
    h = 60px
    min-height (h + (h / 5))
    border-bottom 1px solid #eee
    h1
      padding 5px 30px 10px
      text-transform uppercase
      border-bottom 10px solid #bbb
      margin-bottom -10px
      display inline-block
      &:nth-child(1n+2)
        display none
    a
      position absolute
      f = round((h / 2) - (h / 10))
      right 25px
      line-height f
      font-size f
      top f - 2
      i
        color white
        background black
        z = round(h / 10) 
        padding z (z * 3)
        margin-top -(h / 5)
        border-radius f

li#profile-btn-group
  background none
  border none
  margin 0 
  button
    width (Iwidth / 2) + 5
    padding 10px


// BASE ADMIN

li
  list-style none!important

a
  text-decoration none!important

.fadeIn
  display none

.jsHide
  display none

.jsOpacity
  opacity 0

// ISOTOPE STYLES

.thingy
  border-radius 0


.isotope-item
  z-index 2

.isotope-hidden.isotope-item
  pointer-events none
  z-index 1

.isotope,
.isotope .isotope-item
  transition-duration 0.5s

.isotope
  transition-property height, width

.isotope .isotope-item
  -webkit-transition-property -webkit-transform, opacity
  -moz-transition-property -moz-transform, opacity
  -ms-transition-property -ms-transform, opacity
  -o-transition-property top, left, opacity
  transition-property transform, opacity

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition
  transition-duration 0s

.isotope.infinite-scrolling
  transition none

//    MAIN

.center
  position absolute

//    FORMS

H(n,z)
  line-height n
  font-size round((n / 2) + 2)
  padding o = round(n / 7)
  width z
  text-indent (o + 1)
B()
  border-width 1px
  border-style solid
  border-color white white white #ccc
  border-radius 0


Border(a, b, c, d)
  border-width a
  border-style b
  border-color c
  border-radius d

.dialog-box
  width Iwidth
  height 150px
  padding 10px 3px
  margin 0 5px 0 0



section#logos
  rad = 4px
  s = 40px
  ul
    display inline-block
    Border( 1px, solid, #ccc, rad )
    padding 5px
    margin 0
    height 310px
    overflow-y auto
    width Iwidth

  li
    height s
    width s
    float left
    Border( 1px, solid, #CCC #BBB #AAA, rad )
    box-shadow 0 1px 2px rgba(0,0,0,0.2)
    margin 5px
    padding 5px
    background-color rgba(255,255,255,0.8)
    cursor pointer
    transition 0.2s
    div
      height s
      width s
      background-color black
      float left
      opacity 0.4
    &.selected
      background-color rgba(255,255,255,1)
      box-shadow 0 3px 10px rgba(0,0,0,0.5)
      div
        opacity 1

input
textarea
select
.uneditable-input
  H(28px, Iwidth )
  B()
  display inline-block
  margin-bottom 9px
  Active( false )
  &:focus
    outline 0
    Active(true)


.uneditable-input
  color #ccc
  background #f5f5f5


.input-prepend
  .add-on
    line-height 28px
    height 28px
    padding 4px
    border-width 1px
    border-style solid
    border-color #ccc #999 #aaa #bbb
    background linear-gradient(top, #eee,#ccc)
  input
    margin-left -3px
    border-left none
    width 90px
    width 90px

.input-mini
  width 60px
.input-small
  width 90px
.input-medium
  width 150px
.input-large
  width 210px
.input-xlarge
  width 270px
.input-xxlarge
  width 530px

.cg
  padding 5px 30px 15px

label
  Hfamily()
  font-size 11px
  text-transform uppercase
  letter-spacing 1px
  font-weight 600
  color #444
  margin-bottom 5px
  width Iwidth

  a
    opacity 0.3
    transition 0.2s
    padding 0 5px 0 5px
    &:hover
      opacity 1

.popover-title
  display none
.popover-content
  background none
  color white


hr
  margin 18px 0
  border 0
  border-top 1px solid #dbdbdb

.row
  padding 20px 30px
  margin 0



padtop = 250px


//    FONT AWESOME ICONS

li [class^="icon-"] 
li [class*=" icon-"]
  display inline-block
  width 1.75em
  text-align center


//    ORDER

#welcome
  text-align center
  color #666
  text-shadow 0 1px 0 #fff
  width 100%

.order-wrapper
  box-shadow inset 0 13px 26px -10px #000
  background #2b2b2b url(../vendor/img/low_contrast_linen.png) repeat 0 0
  // overflow hidden
  user-select none

  .order-container
    // width 80%
    // max-width 1080px
    // margin 0 auto

  p
    display inline-block
    color white
    text-shadow 0 1px 1px rgba(0, 0, 0, 0.4)
    padding 10px
    font-weight bold
    font-size 18px


Step(o)
  background white
  border-radius (o)
  border-bottom #fafafa
  display inline-block
  vertical-align middle
  box-shadow 0 1px 2px rgba(0,0,0,0.2),0 0 1px rgba(0,0,0,0.2)
  position relative
  padding 3px 0 8px
  margin 0
  li
    list-style-type none
    padding 0px 14px
  a
    color #555
    font-size 12px
    text-transform lowercase
    text-decoration none
    cursor pointer
    &.active
      color #111
      border-bottom 1px dashed #555
    &.inactive
      color #ccc
    &.disabled
      color #ddd
      cursor default
      border none

.slide
  h = 20px
  j = round(h * 0.85)
  l = round(h * 0.1)
  transition-duration 100ms
  position absolute
  cursor pointer
  background white
  font-size h
  line-height j
  left 35%
  color #999
  // padding 0 (h / 2)
  opacity 0.5
  width 80%
  left 10%
  text-align center

  &.prev
    top - j
    border-radius l l 0 0
  &.next
    bottom - j
    border-radius 0 0 l l
  &:hover
    opacity 0.9


#steps
  padding 13px 0
  display inline-block
  position absolute
  background url(../vendor/img/line.png) center repeat-x
  .step
    display inline-block
    // &.cats
    //   margin-left 30%
    &.sorts>ul
      border-radius 3px 0 0 3px
      text-align right
      left 4px
    &.tags
      Step(0 3px 3px 0, transparent)
      width 100px
      ul
        display none
        margin 0
      &:before
        border none
    &.tag-handler
      width 100px
      margin-left -5px
      p
        display none
        text-transform lowercase
        text-align center
        width 100%
        padding 0



.step.cats>ul
.step.sorts>ul
.step.area>ul
  Step(3px)
  &:before
    content ''
    position absolute
    right 100%
    width 0
    height 0
    border-top 4px solid transparent
    border-right 5px solid white
    border-bottom 4px solid transparent
    margin-top -4px
    top 50%

.dull
  i
    text-shadow 0 1px 1px rgba(255, 255, 255, 0.1), 0 -1px 0px rgba(0, 0, 0, 0.1)
    color #305D7F

//
// CHOSEN
//

Transition()
  transition 1s

.chzn-container
  font-size: 13px
  position: relative
  display: inline-block
  Active( true )
  zoom: 1
  *display: inline
  Transition()
  .chzn-drop
    background: #fff
    border: 1px solid #aaa
    border-top: 0
    position: absolute
    top: 29px
    left: 0
    box-shadow: 0 4px 5px rgba(0,0,0,.15)
    z-index: 1010

.chzn-container-single .chzn-single
  background-color: #ffffff
  background-clip: padding-box
  border-style solid
  border-width 1px
  border-color #ddd #ccc #bbb
  box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.07)
  display: block
  overflow: hidden
  white-space: nowrap
  position: relative
  padding 4px
  // color: #444444
  text-decoration: none
  Transition()

.chzn-container-single .chzn-default
  color: #999

.chzn-container-single .chzn-single span
  line-height 28px
  font-size 16px
  text-indent 5px
  margin-right: 26px
  display: block
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

.chzn-container-single .chzn-single abbr
  display: block
  position: absolute
  right: 26px
  top: 6px
  width: 12px
  height: 13px
  font-size: 1px
  background: url(../vendor/img/chosen-sprite.png) right top no-repeat

.chzn-container-single .chzn-single abbr:hover
  background-position: right -11px

.chzn-container-single.chzn-disabled .chzn-single abbr:hover
  background-position: right top

.chzn-container-single .chzn-single div
  position: absolute
  right 6px
  top 6px
  display: block
  height: 100%
  width: 18px

.chzn-container-single .chzn-single div b
  background: url(../vendor/img/chosen-sprite.png) no-repeat 0 0
  display: block
  width: 100%
  height: 100%

.chzn-container-single .chzn-search
  padding: 3px 4px
  position: relative
  margin: 0
  white-space: nowrap
  z-index: 1010

.chzn-container-single .chzn-search input
  background: url(../vendor/img/chosen-sprite.png) no-repeat 100% -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%)
  margin: 1px 0
  padding: 5px 25px 5px 5px
  line-height 18px
  font-weight bold
  Fheader()
  outline: 0
  border: 1px solid #aaa
  font-family: sans-serif
  font-size: 1em

.chzn-container-single .chzn-drop
  background-clip: padding-box

.chzn-container-single-nosearch .chzn-search input
  position: absolute
  left: -9000px

.chzn-container-multi .chzn-choices
  background-color: #fff
  Border( 1px, solid, #CACACA #CCC #BBB, 0)
  box-shadow inset 0 5px 5px -5px rgba(0,0,0,0.2)
  margin: 0
  padding 5px
  cursor: text
  overflow: hidden
  position: relative
  Transition()

.chzn-container-multi .chzn-choices li
  float: left
  list-style: none

.chzn-container-multi .chzn-choices .search-field
  line-height 28px
  white-space: nowrap
  margin: 0

.chzn-container-multi .chzn-choices .search-field input
  color: #666
  background: transparent
  border: 0
  font-family: sans-serif
  font-size: 100%
  height: 15px
  padding: 5px
  margin: 1px 0
  outline: 0
  box-shadow: none

.chzn-container-multi .chzn-choices .search-field .default
  color: #999

.chzn-container-multi .chzn-choices .search-choice
  background-clip: padding-box
  background-color: #e4e4e4
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%)
  box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05)
  color: #333
  border: 1px solid #aaaaaa
  line-height: 13px
  padding: 5px 25px 5px 5px
  margin-right 5px
  line-height 18px
  text-indent 5px
  position: relative
  cursor: default
  font-weight bold
  Fheader()

.chzn-container-multi .chzn-choices .search-choice-focus
  background: #d4d4d4

.chzn-container-multi .chzn-choices .search-choice .search-choice-close
  display: block
  position: absolute
  right: 6px
  top: 8px
  width: 12px
  height: 13px
  font-size: 1px
  background: url(../vendor/img/chosen-sprite.png) right top no-repeat

.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover
  background-position: right -11px

.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close
  background-position: right -11px

.chzn-container .chzn-results
  margin: 0 4px 4px 0
  max-height: 240px
  padding: 0 0 0 4px
  position: relative
  overflow-x: hidden
  overflow-y: auto
  -webkit-overflow-scrolling: touch

.chzn-container-multi .chzn-results
  margin: -1px 0 0
  padding: 0
  background white

.chzn-container .chzn-results li
  display: none
  line-height: 15px
  padding: 5px 6px
  margin: 0
  list-style: none
  Active( false )

.chzn-container .chzn-results .active-result
  cursor: pointer
  display: list-item

.chzn-container .chzn-results .highlighted
  background-color: #ddd
  // background-image: linear-gradient(top, #3875d7 20%, #2a62bc 90%)
  color: black

.chzn-container .chzn-results li em
  background: #feffde
  font-style: normal

.chzn-container .chzn-results .highlighted em
  background: transparent

.chzn-container .chzn-results .no-results
  background: #f4f4f4
  display: list-item

.chzn-container .chzn-results .group-result
  cursor: default
  color: #999
  font-weight: bold

.chzn-container .chzn-results .group-option
  padding-left: 15px

.chzn-container-multi .chzn-drop .result-selected
  display: none

.chzn-container .chzn-results-scroll
  background: white
  margin: 0 4px
  position: absolute
  text-align: center
  width: 321px
  z-index: 1

.chzn-container .chzn-results-scroll span
  display: inline-block
  height: 17px
  text-indent: -5000px
  width: 9px

.chzn-container .chzn-results-scroll-down
  bottom: 0

.chzn-container .chzn-results-scroll-down span
  background: url(../vendor/img/chosen-sprite.png) no-repeat -4px -3px

.chzn-container .chzn-results-scroll-up span
  background: url(../vendor/img/chosen-sprite.png) no-repeat -22px -3px




.chzn-container-active .chzn-single
  border: 1px solid #aaa

.chzn-container-active .chzn-single-with-drop
  border: 1px solid #aaa
  box-shadow 0 0 5px rgba(0,0,0,0.1)

.chzn-container-active .chzn-single-with-drop div
  background: transparent
  border-left: none

.chzn-container-active .chzn-single-with-drop div b
  background-position: -18px 1px

.chzn-container-active .chzn-choices
  box-shadow: 0 0 5px rgba(0,0,0,.1)
  border: 1px solid #aaa

// .chzn-container-active .chzn-choices .search-field input
//   color: #111

.chzn-disabled
  cursor: default
  opacity: 0.5

.chzn-disabled .chzn-single
  cursor: default

.chzn-disabled .chzn-choices .search-choice .search-choice-close
  cursor: default

.chzn-rtl
  text-align: right

.chzn-rtl .chzn-single
  padding: 0 8px 0 0
  overflow: visible

.chzn-rtl .chzn-single span
  margin-left: 26px
  margin-right: 0
  direction: rtl

.chzn-rtl .chzn-single div
  left: 3px
  right: auto

.chzn-rtl .chzn-single abbr
  left: 26px
  right: auto

.chzn-rtl .chzn-choices .search-field input
  direction: rtl

.chzn-rtl .chzn-choices li
  float: right

.chzn-rtl .chzn-choices .search-choice
  padding: 3px 5px 3px 19px
  margin: 3px 5px 3px 0

.chzn-rtl .chzn-choices .search-choice .search-choice-close
  left: 4px
  right: auto
  background-position: right top

.chzn-rtl.chzn-container-single .chzn-results
  margin: 0 0 4px 4px
  padding: 0 4px 0 0

.chzn-rtl .chzn-results .group-option
  padding-left: 0
  padding-right: 15px

.chzn-rtl.chzn-container-active .chzn-single-with-drop div
  border-right: none

.chzn-rtl .chzn-search input
  background: url(../vendor/img/chosen-sprite.png) no-repeat -38px -22px, linear-gradient(top, #eeeeee 1%, #ffffff 15%)
  padding: 4px 5px 4px 20px
  direction: rtl

//    SPECTRUM

.sp-container
  position: absolute
  top: 0
  left: 0
  display: inline-block
  *display: inline
  *zoom: 1
  z-index: 2147483647
  overflow: hidden

.sp-container.sp-flat
  position: relative

.sp-top
  position: relative
  width: 100%
  display: inline-block

.sp-top-inner
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0

.sp-color
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 20%

.sp-hue
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 84%
  height: 100%

.sp-fill
  padding-top: 80%

.sp-sat, .sp-val
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0

.sp-container, .sp-replacer, .sp-preview, .sp-dragger, .sp-slider , .sp-container.sp-dragging .sp-input, .sp-container button
  user-select: none

.sp-container.sp-input-disabled .sp-input-container
  display: none

.sp-container.sp-buttons-disabled .sp-button-container
  display: none

.sp-palette-only .sp-picker-container
  display: none

.sp-palette-disabled .sp-palette-container
  display: none

.sp-initial-disabled .sp-initial
  display: none

.sp-sat
  background-image: linear-gradient(left, #fff, rgba(204, 154, 129, 0))

.sp-val
  background-image: linear-gradient(bottom, #000, rgba(204, 154, 129, 0))

.sp-hue
  background linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%)

.sp-1
  height: 17%

.sp-2
  height: 16%

.sp-3
  height: 17%

.sp-4
  height: 17%

.sp-5
  height: 16%

.sp-6
  height: 17%

.sp-cf:before, .sp-cf:after
  content: ""
  display: table

.sp-cf:after
  clear: both

.sp-cf
  *zoom: 1

@media (max-device-width: 480px)
  .sp-color
    right: 40%

  .sp-hue
    left: 63%

  .sp-fill
    padding-top: 60%

.sp-dragger
  s = 7px
  border-radius s
  height: s
  width: s
  border: 1px solid #fff
  cursor: pointer
  absolute top

.sp-slider
  position: absolute
  top: 0
  cursor: pointer
  height: 3px
  left: -1px
  right: -1px
  border: 1px solid #000
  background: white
  opacity: .8

.sp-container
  padding: 0

.sp-container, .sp-container button, .sp-container input, .sp-color, .sp-hue
  box-sizing: border-box

.sp-top
  margin-bottom: 3px

.sp-color, .sp-hue
  Border(1px, solid, #aaa #888 #666, 0px )

.sp-input-container
  float: right
  width: 100px
  margin-bottom: 4px

.sp-initial-disabled  .sp-input-container
  width: 100%

.sp-input
  font-size: 12px
  border: 1px inset
  padding: 4px 5px
  margin: 0
  width: 100%
  background: transparent
  border-radius: 3px
  color: #222

.sp-input:focus
  border: 1px solid orange

.sp-input.sp-validation-error
  border: 1px solid red
  background: #fdd

.sp-picker-container , .sp-palette-container
  float: left
  position: relative
  padding-bottom: 300px
  margin-bottom: -310px

.sp-picker-container
  width: 172px
  border-left: solid 1px #fff

.sp-palette-container
  border-right: solid 1px #ccc

.sp-palette span
  display: block
  position: relative
  float: left
  width: 24px
  height: 15px
  margin: 3px
  cursor: pointer
  border: solid 2px transparent

.sp-palette span:hover, .sp-palette span.sp-thumb-active
  border-color: orange

.sp-initial
  float: left
  border: solid 1px #333

.sp-initial span
  width: 30px
  height: 25px
  border: none
  display: block
  float: left
  margin: 0

.sp-button-container
  display none
  // float: right

.sp-replacer
  margin: 0
  overflow: hidden
  cursor: pointer
  // padding: 4px
  display: inline-block
  *zoom: 1
  *display: inline
  // border: solid 1px #91765d
  background: #eee
  color: #333
  vertical-align: middle

// .sp-replacer:hover, .sp-replacer.sp-active
//   border-color: #F0C49B
//   color: #111

.sp-dd
  display none

.sp-preview
  width: 25px
  height: 28px
  float: left
  border-radius 4px

.sp-palette
  *width: 220px
  max-width: 220px

.sp-palette span
  width: 16px
  height: 16px
  margin: 2px 1px
  border: solid 1px #d0d0d0

.sp-container
  padding-bottom: 0

// .sp-container button
//   background-color: #eeeeee
//   background-image: linear-gradient(top, #eeeeee, #cccccc)
//   border: 1px solid #ccc
//   border-bottom: 1px solid #bbb
//   border-radius: 3px
//   color: #333
//   font-size: 14px
//   line-height: 1
//   padding: 5px 4px
//   text-align: center
//   text-shadow: 0 1px 0 #eee
//   vertical-align: middle
// 
// .sp-container button:hover
//   background-color: #dddddd
//   background-image: linear-gradient(top, #dddddd, #bbbbbb)
//   border: 1px solid #bbb
//   border-bottom: 1px solid #999
//   cursor: pointer
//   text-shadow: 0 1px 0 #ddd
// 
// .sp-container button:active
//   border: 1px solid #aaa
//   border-bottom: 1px solid #888
//   box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee
// 
// .sp-cancel
//   font-size: 11px
//   color: #d93f3f
//   margin: 0
//   padding: 2px
//   margin-right: 5px
//   vertical-align: middle
//   text-decoration: none
// 
// .sp-cancel:hover
//   color: #d93f3f
//   text-decoration: underline

// .sp-palette span:hover, .sp-palette span.sp-thumb-active
//   border-color: #000

// .sp-palette span.sp-thumb-light.sp-thumb-active
//   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIVJREFUeNpiYBhsgJFMffxAXABlN5JruT4Q3wfi/0DsT64h8UD8HmpIPCWG/KemIfOJCUB+Aoacx6EGBZyHBqI+WsDCwuQ9mhxeg2A210Ntfo8klk9sOMijaURm7yc1UP2RNCMbKE9ODK1HM6iegYLkfx8pligC9lCD7KmRof0ZhjQACDAAceovrtpVBRkAAAAASUVORK5CYII=)
// 
// .sp-palette span.sp-thumb-dark.sp-thumb-active
//   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjEwMPRyoQAAAMdJREFUOE+tkgsNwzAMRMugEAahEAahEAZhEAqlEAZhEAohEAYh81X2dIm8fKpEspLGvudPOsUYpxE2BIJCroJmEW9qJ+MKaBFhEMNabSy9oIcIPwrB+afvAUFoK4H0tMaQ3XtlrggDhOVVMuT4E5MMG0FBbCEYzjYT7OxLEvIHQLY2zWwQ3D+9luyOQTfKDiFD3iUIfPk8VqrKjgAiSfGFPecrg6HN6m/iBcwiDAo7WiBeawa+Kwh7tZoSCGLMqwlSAzVDhoK+6vH4G0P5wdkAAAAASUVORK5CYII=)
// 

