.clearfix{*zoom:1}
.clearfix:before,.clearfix:after{display:table;content:""}
.clearfix:after{clear:both}
.hide-text{overflow:hidden;text-indent:100%;white-space:nowrap}
.input-block-level{display:block;width:100%;min-height:28px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.fadeIn{display:none}
.jsHide{display:none}
.jsOpacity{opacity:0;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);filter:alpha(opacity=0)}
.hidden{display:none;visibility:hidden;position:absolute}
.visible-phone{display:none}
.visible-tablet{display:none}
.visible-desktop{display:block}
.hidden-phone{display:block}
.hidden-tablet{display:block}
.hidden-desktop{display:none}
@media (max-width:767px){.visible-phone{display:block}
.hidden-phone{display:none}
.hidden-desktop{display:block}
.visible-desktop{display:none}
}@media (min-width:768px) and (max-width:979px){.visible-tablet{display:block}
.hidden-tablet{display:none}
.hidden-desktop{display:block}
.visible-desktop{display:none}
}@media (max-width:480px){.nav-collapse{-webkit-transform:translate3d(0,0,0)}
.page-header h1 small{display:block;line-height:18px}
input[type="checkbox"],input[type="radio"]{border:1px solid #ccc}
.form-horizontal .control-group>label{float:none;padding-top:0;text-align:left}
.form-horizontal .controls{margin-left:0}
.form-horizontal .control-list{padding-top:0}
.form-horizontal .form-actions{padding-left:10px;padding-right:10px}
.modal{position:absolute;top:10px;left:10px;right:10px;width:auto;margin:0}
.modal.fade.in{top:auto}
.modal-header .close{padding:10px;margin:-10px}
.carousel-caption{position:static}
}@media (max-width:767px){body{padding-left:20px;padding-right:20px}
.navbar-fixed-top{margin-left:-20px;margin-right:-20px}
.container{width:auto}
.row-fluid{width:100%}
.row{margin-left:0}
.row>[class*="span"],.row-fluid>[class*="span"]{float:none;display:block;width:auto;margin:0}
.thumbnails [class*="span"]{width:auto}
.input-prepend input[class*="span"],.input-append input[class*="span"]{width:auto}
}@media (min-width:768px) and (max-width:979px){.row{margin-left:-20px;*zoom:1}
.row:before,.row:after{display:table;content:""}
.row:after{clear:both}
[class*="span"]{float:left;margin-left:20px}
.container,.navbar-fixed-top .container,.navbar-fixed-bottom .container{width:724px}
.span12{width:724px}
.span11{width:662px}
.span10{width:600px}
.span9{width:538px}
.span8{width:476px}
.span7{width:414px}
.span6{width:352px}
.span5{width:290px}
.span4{width:228px}
.span3{width:166px}
.span2{width:104px}
.span1{width:42px}
.offset12{margin-left:764px}
.offset11{margin-left:702px}
.offset10{margin-left:640px}
.offset9{margin-left:578px}
.offset8{margin-left:516px}
.offset7{margin-left:454px}
.offset6{margin-left:392px}
.offset5{margin-left:330px}
.offset4{margin-left:268px}
.offset3{margin-left:206px}
.offset2{margin-left:144px}
.offset1{margin-left:82px}
.row-fluid{width:100%;*zoom:1}
.row-fluid:before,.row-fluid:after{display:table;content:""}
.row-fluid:after{clear:both}
.row-fluid>[class*="span"]{float:left;margin-left:2.762430939%}
.row-fluid>[class*="span"]:first-child{margin-left:0}
.row-fluid > .span12{width:99.999999993%}
.row-fluid > .span11{width:91.436464082%}
.row-fluid > .span10{width:82.87292817100001%}
.row-fluid > .span9{width:74.30939226%}
.row-fluid > .span8{width:65.74585634900001%}
.row-fluid > .span7{width:57.182320438000005%}
.row-fluid > .span6{width:48.618784527%}
.row-fluid > .span5{width:40.055248616%}
.row-fluid > .span4{width:31.491712705%}
.row-fluid > .span3{width:22.928176794%}
.row-fluid > .span2{width:14.364640883%}
.row-fluid > .span1{width:5.801104972%}
input,textarea,.uneditable-input{margin-left:0}
input.span12,textarea.span12,.uneditable-input.span12{width:714px}
input.span11,textarea.span11,.uneditable-input.span11{width:652px}
input.span10,textarea.span10,.uneditable-input.span10{width:590px}
input.span9,textarea.span9,.uneditable-input.span9{width:528px}
input.span8,textarea.span8,.uneditable-input.span8{width:466px}
input.span7,textarea.span7,.uneditable-input.span7{width:404px}
input.span6,textarea.span6,.uneditable-input.span6{width:342px}
input.span5,textarea.span5,.uneditable-input.span5{width:280px}
input.span4,textarea.span4,.uneditable-input.span4{width:218px}
input.span3,textarea.span3,.uneditable-input.span3{width:156px}
input.span2,textarea.span2,.uneditable-input.span2{width:94px}
input.span1,textarea.span1,.uneditable-input.span1{width:32px}
}@media (max-width:979px){body{padding-top:0}
.navbar-fixed-top{position:static}
.navbar .container{width:auto;padding:0}
.navbar .nav-collapse{clear:left}
.navbar .nav{float:none;margin:0 0 9px}
.navbar .nav>li{float:none}
.navbar .nav>li>a{margin-bottom:2px}
.navbar .nav>.divider-vertical{display:none}
.navbar .nav .nav-header{color:#999;text-shadow:none}
.navbar .nav>li>a,.navbar .dropdown-menu a{padding:6px 15px;font-weight:bold;color:#999;-webkit-border-radius:3px;border-radius:3px}
.navbar .dropdown-menu li+li a{margin-bottom:2px}
.navbar .nav>li>a:hover,.navbar .dropdown-menu a:hover{background-color:#222}
.navbar .dropdown-menu{position:static;top:auto;left:auto;float:none;display:block;max-width:none;margin:0 15px;padding:0;background-color:transparent;border:none;-webkit-border-radius:0;border-radius:0;-webkit-box-shadow:none;box-shadow:none}
.navbar .dropdown-menu:before,.navbar .dropdown-menu:after{display:none}
.navbar .dropdown-menu .divider{display:none}
.navbar-form,.navbar-search{float:none;padding:9px 15px;margin:9px 0;border-top:1px solid #222;border-bottom:1px solid #222;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1);box-shadow:inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.1)}
.navbar .nav.pull-right{float:none;margin-left:0;padding-right:33px}
.navbar-static .navbar-inner{padding-left:10px;padding-right:10px}
.btn-navbar{display:block;background:none;}
.btn-navbar:hover{background:none;-webkit-box-shadow:inset 0 2px 20px rgba(0,0,0,0.1),0 1px 3px rgba(255,255,255,0.05);box-shadow:inset 0 2px 20px rgba(0,0,0,0.1),0 1px 3px rgba(255,255,255,0.05)}
.nav-collapse{overflow:hidden;height:0}
}@media (min-width:980px){.nav-collapse.collapse{height:auto;overflow:visible}
}@media (min-width:1200px){.row{margin-left:-30px;*zoom:1}
.row:before,.row:after{display:table;content:""}
.row:after{clear:both}
[class*="span"]{float:left;margin-left:30px}
.container,.navbar-fixed-top .container,.navbar-fixed-bottom .container{width:1170px}
.span12{width:1170px}
.span11{width:1070px}
.span10{width:970px}
.span9{width:870px}
.span8{width:770px}
.span7{width:670px}
.span6{width:570px}
.span5{width:470px}
.span4{width:370px}
.span3{width:270px}
.span2{width:170px}
.span1{width:70px}
.offset12{margin-left:1230px}
.offset11{margin-left:1130px}
.offset10{margin-left:1030px}
.offset9{margin-left:930px}
.offset8{margin-left:830px}
.offset7{margin-left:730px}
.offset6{margin-left:630px}
.offset5{margin-left:530px}
.offset4{margin-left:430px}
.offset3{margin-left:330px}
.offset2{margin-left:230px}
.offset1{margin-left:130px}
.row-fluid{width:100%;*zoom:1}
.row-fluid:before,.row-fluid:after{display:table;content:""}
.row-fluid:after{clear:both}
.row-fluid>[class*="span"]{float:left;margin-left:2.564102564%}
.row-fluid>[class*="span"]:first-child{margin-left:0}
.row-fluid > .span12{width:100%}
.row-fluid > .span11{width:91.45299145300001%}
.row-fluid > .span10{width:82.905982906%}
.row-fluid > .span9{width:74.358974359%}
.row-fluid > .span8{width:65.81196581200001%}
.row-fluid > .span7{width:57.264957265%}
.row-fluid > .span6{width:48.717948718%}
.row-fluid > .span5{width:40.170940171000005%}
.row-fluid > .span4{width:31.623931624%}
.row-fluid > .span3{width:23.076923077%}
.row-fluid > .span2{width:14.529914530000001%}
.row-fluid > .span1{width:5.982905983%}
input,textarea,.uneditable-input{margin-left:0}
input.span12,textarea.span12,.uneditable-input.span12{width:1160px}
input.span11,textarea.span11,.uneditable-input.span11{width:1060px}
input.span10,textarea.span10,.uneditable-input.span10{width:960px}
input.span9,textarea.span9,.uneditable-input.span9{width:860px}
input.span8,textarea.span8,.uneditable-input.span8{width:760px}
input.span7,textarea.span7,.uneditable-input.span7{width:660px}
input.span6,textarea.span6,.uneditable-input.span6{width:560px}
input.span5,textarea.span5,.uneditable-input.span5{width:460px}
input.span4,textarea.span4,.uneditable-input.span4{width:360px}
input.span3,textarea.span3,.uneditable-input.span3{width:260px}
input.span2,textarea.span2,.uneditable-input.span2{width:160px}
input.span1,textarea.span1,.uneditable-input.span1{width:60px}
.thumbnails{margin-left:-30px}
.thumbnails>li{margin-left:30px}
}.thingy{-webkit-border-radius:0;border-radius:0}
.isotope-item{z-index:2}
.isotope-hidden.isotope-item{pointer-events:none;z-index:1}
.isotope,.isotope .isotope-item{-webkit-transition-duration:.5s;-moz-transition-duration:.5s;-o-transition-duration:.5s;-ms-transition-duration:.5s;transition-duration:.5s}
.isotope{-webkit-transition-property:height,width;-moz-transition-property:height,width;-o-transition-property:height,width;-ms-transition-property:height,width;transition-property:height,width}
.isotope .isotope-item{-webkit-transition-property:-webkit-transform,opacity;-moz-transition-property:-moz-transform,opacity;-ms-transition-property:-ms-transform,opacity;-o-transition-property:top,left,opacity;-webkit-transition-property:transform,opacity;-moz-transition-property:transform,opacity;-o-transition-property:transform,opacity;-ms-transition-property:transform,opacity;transition-property:transform,opacity}
.isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition{-webkit-transition-duration:0;-moz-transition-duration:0;-o-transition-duration:0;-ms-transition-duration:0;transition-duration:0}
.isotope.infinite-scrolling{-webkit-transition:none;-moz-transition:none;-o-transition:none;-ms-transition:none;transition:none}
.main-inner{padding-top:30px}
.center{position:absolute}
.centered{margin:0 auto;float:none}
.middle{text-align:center}
form,.form-actions{background:none;border:none}
#login-form{margin-bottom:0}
input,textarea,select,.uneditable-input{display:inline-block;width:210px;height:18px;padding:4px;margin-bottom:9px;font-size:13px;line-height:18px;color:#555;border:1px solid #bbb;-webkit-border-radius:3px;border-radius:3px}
.uneditable-input{color:#777;background:#eee}
.input-mini{width:60px}
.input-small{width:90px}
.input-medium{width:150px}
.input-large{width:210px}
.input-xlarge{width:270px}
.input-xxlarge{width:530px}
body{margin:0;padding:0;height:100%}
.account-container{width:380px;display:block;-webkit-box-shadow:0 1px 3px #bbb;box-shadow:0 1px 3px #bbb;background:#fcfcfc;}
.account-container .content{display:block}
#account-form-container{width:460px;margin:100px auto}
#country-list{width:280px}
.modal-form-errors li{color:#808080;color:#d8000c}
.modal-single-input{width:452px;margin:-200px 0 0 -232px;}
.modal-single-input form{color:#808080;}
.modal-single-input form margin-bottom 0{buttonwidth:80px;top:213px;position:absolute}
.modal-single-input form #cancel{right:110px}
.modal-single-input form #submit{right:18px}
.modal-single-input .modal-body{height:140px;overflow:hidden;padding-bottom:0}
.modal-single-input .modal-footer{height:20px}
.modal-alert{width:310px;margin:-200px 0 0 -150px}
#print{padding:20px}
#four04{padding:20px}
.clear-fix{clear:both}
.well{margin-left:0;border:1px solid #ccc}
.form-horizontal .control-label{padding:5px 20px 0 10%}
width 15% .controls input[name="coupon_price"]{text-align:right}
.form-horizontal .controls{margin:0 120px}
.form-horizontal .form-actions{text-align:center}
padding-top 17px{padding:0}
input.coupon-price{width:30px}
label{color:#808080}
.subheading{color:#808080;margin-top:3px}
button i{padding-left:8px}
body{background:#fefefe url("../vendor/img/groovepaper.png") repeat 0 0;background:#fefefe;font-family:'proxima-nova','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:30px;color:#666}
p{font-family:'proxima-nova','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:30px;color:#666}
h1,h2,h3,h4,h5,h6{font-family:'proxima-nova','Helvetica Neue',Helvetica,Arial,sans-serif;color:#777;font-weight:normal}
input,button,select,textarea{font-family:'proxima-nova','Helvetica Neue',Helvetica,Arial,sans-serif}
.dropdown .dropdown-menu{-webkit-border-radius:6px;border-radius:6px}
.btn-icon-only{padding-right:3px;padding-left:3px}
.table td{vertical-align:middle}
.table-bordered th{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, #e9e9e9));background:-webkit-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);background:-moz-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);background:-o-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);background:-ms-linear-gradient(top, #fafafa 0%, #e9e9e9 100%);background:linear-gradient(top, #fafafa 0%, #e9e9e9 100%);font-size:10px;color:#444;text-transform:uppercase}
.pagination{height:36px;margin:18px 0;}
.pagination ul{display:inline-block;-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);box-shadow:0 1px 3px rgba(0,0,0,0.5);-webkit-border-radius:3px;border-radius:3px;border-top:1px solid #fff;background:whiteSmoke}
.pagination li{display:inline;}
.pagination li a{float:left;padding:0 14px;line-height:34px;text-shadow:0 1px 0 #fff;text-decoration:none}
.pagination li:first-child a{-webkit-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px}
.pagination li:last-child a{-webkit-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0}
.pagination li.active a{color:#999}
.pagination .disabled span:hover,.pagination .disabled a:hover{color:#999;background-color:transparent;cursor:default}
.pagination-centered{text-align:center}
.pagination-right{text-align:right}
li [class^="icon-"],li [class*=" icon-"]{display:inline-block;width:1.75em;text-align:center}
.widget .heading{text-align:center;padding:0 10px 20px;color:#454545;overflow:visible}
.coupon-container{margin:20px auto 0;padding-bottom:250px}
.headers{text-align:center;margin-top:50px;-webkit-border-radius:50px;border-radius:50px;-webkit-box-shadow:inset 0 1px 5px -1px #808080;box-shadow:inset 0 1px 5px -1px #808080;border-bottom:2px solid #fff;background:#fff;line-height:0;display:inline-block;}
.headers .header{display:inline-block;padding:0 20px;font-size:12px;text-decoration:none;text-shadow:0 1px 1px #fff;border-top:20px transparent solid;border-bottom:20px transparent solid;border-left:1px #fff solid;border-right:1px #ccc solid;color:#555;}
.headers .header:first-child{border-left-width:0;padding-left:30px}
.headers .header:last-child{border-right-width:0;padding-right:30px}
.headers .header:hover{color:#2585ce}
.headers .header.disabled{cursor:pointer;color:#ccc}
#preview .coupon{margin:0 auto;float:none}
#welcome{text-align:center;position:relative;margin-top:10%;color:#666;text-shadow:0 1px 0 #fff}
.order-wrapper{-webkit-box-shadow:inset 0 13px 26px -10px #000;box-shadow:inset 0 13px 26px -10px #000;background:#2b2b2b url("../vendor/img/low_contrast_linen.png") repeat 0 0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.order-wrapper p{display:inline-block;color:#fff;text-shadow:0 1px 1px rgba(0,0,0,0.4);padding:10px;font-weight:bold;font-size:18px}
.slide{-webkit-transition-duration:100ms;-moz-transition-duration:100ms;-o-transition-duration:100ms;-ms-transition-duration:100ms;transition-duration:100ms;position:absolute;cursor:pointer;background:#fff;font-size:20px;line-height:17px;left:35%;color:#999;opacity:.5;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);filter:alpha(opacity=50);width:80%;left:10%;text-align:center;}
.slide.prev{top:-17px;-webkit-border-radius:2px 2px 0 0;border-radius:2px 2px 0 0}
.slide.next{bottom:-17px;-webkit-border-radius:0 0 2px 2px;border-radius:0 0 2px 2px}
.slide:hover{opacity:.9;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=90);filter:alpha(opacity=90)}
#steps{padding:13px 0;display:inline-block;position:absolute;background:url("../vendor/img/line.png") center repeat-x;}
#steps .step{display:inline-block;}
#steps .step.sorts>ul{-webkit-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;text-align:right;left:4px}
#steps .step.tags{background:#fff;-webkit-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;border-bottom:#fafafa;display:inline-block;vertical-align:middle;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2),0 0 1px rgba(0,0,0,0.2);box-shadow:0 1px 2px rgba(0,0,0,0.2),0 0 1px rgba(0,0,0,0.2);position:relative;padding:3px 0 8px;margin:0;width:100px;}
#steps .step.tags li{list-style-type:none;padding:0 14px}
#steps .step.tags a{color:#555;font-size:12px;text-transform:lowercase;text-decoration:none;cursor:pointer;}
#steps .step.tags a.active{color:#111;border-bottom:1px dashed #555}
#steps .step.tags a.inactive{color:#ccc}
#steps .step.tags a.disabled{color:#ddd;cursor:default;border:none}
#steps .step.tags ul{display:none;margin:0}
#steps .step.tags:before{border:none}
#steps .step.tag-handler{width:100px;margin-left:-5px;}
#steps .step.tag-handler p{display:none;text-transform:lowercase;text-align:center;width:100%;padding:0}
.step.cats>ul,.step.sorts>ul,.step.area>ul{background:#fff;-webkit-border-radius:3px;border-radius:3px;border-bottom:#fafafa;display:inline-block;vertical-align:middle;-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2),0 0 1px rgba(0,0,0,0.2);box-shadow:0 1px 2px rgba(0,0,0,0.2),0 0 1px rgba(0,0,0,0.2);position:relative;padding:3px 0 8px;margin:0;}
.step.cats>ul li,.step.sorts>ul li,.step.area>ul li{list-style-type:none;padding:0 14px}
.step.cats>ul a,.step.sorts>ul a,.step.area>ul a{color:#555;font-size:12px;text-transform:lowercase;text-decoration:none;cursor:pointer;}
.step.cats>ul a.active,.step.sorts>ul a.active,.step.area>ul a.active{color:#111;border-bottom:1px dashed #555}
.step.cats>ul a.inactive,.step.sorts>ul a.inactive,.step.area>ul a.inactive{color:#ccc}
.step.cats>ul a.disabled,.step.sorts>ul a.disabled,.step.area>ul a.disabled{color:#ddd;cursor:default;border:none}
.step.cats>ul:before,.step.sorts>ul:before,.step.area>ul:before{content:'';position:absolute;right:100%;width:0;height:0;border-top:4px solid transparent;border-right:5px solid #fff;border-bottom:4px solid transparent;margin-top:-4px;top:50%}
.dull i{text-shadow:0 1px 1px rgba(255,255,255,0.1),0 -1px 0 rgba(0,0,0,0.1);color:#305d7f}
.navbar-inner{background:#3c6c93;-webkit-border-radius:0;border-radius:0;-webkit-box-shadow:none;box-shadow:none;}
.navbar-inner .container{padding:10px 0}
.navbar-fixed-top{position:static}
.navbar .nav{font-size:24px;font-weight:400;margin-bottom:0;}
.navbar .nav li{text-align:right;}
.navbar .nav li a{padding:10px 14px 11px;text-shadow:none;color:#fff;}
.navbar .nav li a:hover{background:none;color:#fff}
.navbar .btn,.navbar .btn-group{margin:10px}
.navbar.pull-right{width:100%;text-align:center;margin-bottom:0}
.navbar .search-query{background-color:#444;width:150px;font-size:11px;font-weight:bold}
.navbar .search-query::-webkit-input-placeholder{color:#666}
.navbar .search-query:-moz-placeholder{color:#666}
.nav-collapse{width:100%;text-align:center}
.subnavbar{margin-bottom:2.5em;border-top:1px solid #595959}
.subnavbar-inner{height:80px;background:#3a3a3a;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0, #414141), color-stop(1, #323232));background-image:-webkit-linear-gradient(top, #414141 0%, #323232 100%);background-image:-moz-linear-gradient(top, #414141 0%, #323232 100%);background-image:-o-linear-gradient(top, #414141 0%, #323232 100%);background-image:-ms-linear-gradient(top, #414141 0%, #323232 100%);background-image:linear-gradient(top, #414141 0%, #323232 100%);background-repeat:repeat-x;border-bottom:1px solid #000}
.subnavbar .container > ul{display:inline-block;height:80px;padding:0;margin:0;border-left:1px solid #292929;border-right:1px solid #4a4a4a}
.subnavbar .container > ul > li{float:left;min-width:90px;height:80px;padding:0;margin:0;text-align:center;list-style:none;border-left:1px solid #4a4a4a;border-right:1px solid #292929}
.subnavbar .container > ul > li > a{display:block;height:100%;padding:0 15px;font-size:12px;font-weight:bold;color:#636363;text-shadow:1px 1px 1px rgba(0,0,0,0.2)}
.subnavbar .container > ul > li > a:hover{color:#888;text-decoration:none}
.subnavbar .container > ul > li > a > i{display:inline-block;width:24px;height:24px;margin-top:17px;margin-bottom:.25em;font-size:28px}
.subnavbar .container > ul > li > a > span{display:block}
.subnavbar .container > ul > li.active > a{background:#333;color:#f90}
.subnavbar .dropdown .dropdown-menu a{font-size:12px}
.subnavbar .dropdown .dropdown-menu{text-align:left;border-top-left-radius:0;border-top-right-radius:0}
.subnavbar .dropdown-menu::before{content:'';display:inline-block;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #ccc;border-bottom-color:rgba(0,0,0,0.2);position:absolute;top:-7px;left:9px}
.subnavbar .dropdown-menu::after{content:'';display:inline-block;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #fff;position:absolute;top:-6px;left:10px}
.subnavbar .caret{margin-top:4px;border-top-color:#fff;border-bottom-color:#fff}
.subnavbar .dropdown.open .caret{display:none}
.main{padding-bottom:2em;border-bottom:1px solid #000}
.extra{border-top:1px solid #585858;border-bottom:1px solid #000}
.extra-inner{padding:20px 0;font-size:11px;color:#bbb;background:#1a1a1a}
.extra a{color:#666}
.extra h4{margin-bottom:1em;font-weight:400}
.extra ul{padding:0;margin:0}
.extra li{margin-bottom:.6em;list-style:none}
.footer{margin-top:0;border-top:1px solid #292929}
.footer-inner{padding:15px 0;font-size:12px;background:#111;color:#999}
.footer a{color:#999}
.footer a:hover{color:#fff;text-decoration:none}
.widgets{top:100px;position:relative}
.widgets-group{position:absolute;width:100%;height:500px;margin-top:40px;background:#e0e0e0;-webkit-border-radius:5px;border-radius:5px;-webkit-box-shadow:inset 0 1px 3px #aaa;box-shadow:inset 0 1px 3px #aaa;border-bottom:1px solid #c0c0c0;}
.widgets-group .widget{height:428px}
.widgets-group #offer-nav{padding-top:482px;margin:0;}
.widgets-group #offer-nav ul{margin:0}
.steady,.widget{position:absolute;width:100%;left:0;}
.steady .inner,.widget .inner,.steady .widget-content,.widget .widget-content{position:relative;padding:40px 40px 50px;margin:0 auto;max-width:600px;left:15px}
.greeting{padding-bottom:40px}
.widget-header{position:relative;height:40px;line-height:40px;cursor:pointer}
.widget-header h3{position:relative;top:2px;left:10px;display:inline-block;margin-right:3em;font-size:14px;font-weight:300;color:#fff;line-height:18px}
.widget-header [class^="icon-"],.widget-header [class*=" icon-"]{display:inline-block;margin-left:13px;margin-right:-2px;font-size:16px;color:#555;vertical-align:middle}
.widget-header+.widget-content{border-top:none;-webkit-border-top-left-radius:0;-webkit-border-top-right-radius:0;-moz-border-radius-topleft:0;-moz-border-radius-topright:0;border-top-left-radius:0;border-top-right-radius:0}
.widget-nopad .widget-content{padding:0}
.widget-content:before,.widget-content:after{content:"";display:table}
.widget-content:after{clear:both}
.widget-content{zoom:1}
.widget-table .widget-content{padding:0}
.widget-table .table{margin-bottom:0;border:none}
.widget-table .table tr td:first-child{border-left:none}
.widget-table .table tr th:first-child{border-left:none}
.widget-plain{background:transparent;border:none}
.widget-plain .widget-content{padding:0;background:transparent;border:none}
.widget-box,.widget-box .widget-content{background:#fff}
.error-container{margin-top:4em;margin-bottom:4em;text-align:center}
.error-container h1{margin-bottom:.5em;font-size:120px;line-height:1em}
.error-container h2{margin-bottom:.75em;font-size:28px}
.error-container .error-details{margin-bottom:1.5em;font-size:16px}
.error-container .error-actions a{margin:0 .5em}
.chart-holder{width:100%;height:250px}
.chzn-container{font-size:13px;position:relative;display:inline-block;zoom:1;*display:inline}
.chzn-container .chzn-drop{background:#fff;border:1px solid #aaa;border-top:0;position:absolute;top:29px;left:0;-webkit-box-shadow:0 4px 5px rgba(0,0,0,0.15);-moz-box-shadow:0 4px 5px rgba(0,0,0,0.15);-o-box-shadow:0 4px 5px rgba(0,0,0,0.15);-webkit-box-shadow:0 4px 5px rgba(0,0,0,0.15);box-shadow:0 4px 5px rgba(0,0,0,0.15);z-index:1010}
.chzn-container-single .chzn-single{background-color:#fff;-webkit-border-radius:3px;border-radius:3px;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;border:1px solid #bbb;-webkit-box-shadow:0 0 3px #fff inset,0 1px 1px rgba(0,0,0,0.05);box-shadow:0 0 3px #fff inset,0 1px 1px rgba(0,0,0,0.05);display:block;overflow:hidden;white-space:nowrap;position:relative;padding:2px 4px;color:#444;text-decoration:none}
.chzn-container-single .chzn-default{color:#999}
.chzn-container-single .chzn-single span{line-height:22px;margin-right:26px;display:block;overflow:hidden;white-space:nowrap;-o-text-overflow:ellipsis;-ms-text-overflow:ellipsis;text-overflow:ellipsis}
.chzn-container-single .chzn-single abbr{display:block;position:absolute;right:26px;top:6px;width:12px;height:13px;font-size:1px;background:url("../vendor/img/chosen-sprite.png") right top no-repeat}
.chzn-container-single .chzn-single abbr:hover{background-position:right -11px}
.chzn-container-single.chzn-disabled .chzn-single abbr:hover{background-position:right top}
.chzn-container-single .chzn-single div{position:absolute;right:0;top:0;display:block;height:100%;width:18px}
.chzn-container-single .chzn-single div b{background:url("../vendor/img/chosen-sprite.png") no-repeat 0 0;display:block;width:100%;height:100%}
.chzn-container-single .chzn-search{padding:3px 4px;position:relative;margin:0;white-space:nowrap;z-index:1010}
.chzn-container-single .chzn-search input{background:url("../vendor/img/chosen-sprite.png") no-repeat 100% -22px,-webkit-gradient(linear, left top, left bottom, color-stop(0.01, #eee), color-stop(0.15, #fff));background:url("../vendor/img/chosen-sprite.png") no-repeat 100% -22px,-webkit-linear-gradient(top, #eee 1%, #fff 15%);background:url("../vendor/img/chosen-sprite.png") no-repeat 100% -22px,-moz-linear-gradient(top, #eee 1%, #fff 15%);background:url("../vendor/img/chosen-sprite.png") no-repeat 100% -22px,-o-linear-gradient(top, #eee 1%, #fff 15%);background:url("../vendor/img/chosen-sprite.png") no-repeat 100% -22px,-ms-linear-gradient(top, #eee 1%, #fff 15%);background:url("../vendor/img/chosen-sprite.png") no-repeat 100% -22px,linear-gradient(top, #eee 1%, #fff 15%);margin:1px 0;padding:4px 20px 4px 5px;outline:0;border:1px solid #aaa;font-family:sans-serif;font-size:1em}
.chzn-container-single .chzn-drop{-webkit-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box}
.chzn-container-single-nosearch .chzn-search input{position:absolute;left:-9000px}
.chzn-container-multi .chzn-choices{background-color:#fff;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0.01, #eee), color-stop(0.15, #fff));background-image:-webkit-linear-gradient(top, #eee 1%, #fff 15%);background-image:-moz-linear-gradient(top, #eee 1%, #fff 15%);background-image:-o-linear-gradient(top, #eee 1%, #fff 15%);background-image:-ms-linear-gradient(top, #eee 1%, #fff 15%);background-image:linear-gradient(top, #eee 1%, #fff 15%);border:1px solid #bbb;margin:0;padding:0;cursor:text;overflow:hidden;height:1%;position:relative}
.chzn-container-multi .chzn-choices li{float:left;list-style:none}
.chzn-container-multi .chzn-choices .search-field{white-space:nowrap;margin:0;padding:0}
.chzn-container-multi .chzn-choices .search-field input{color:#666;background:transparent;border:0;font-family:sans-serif;font-size:100%;height:15px;padding:5px;margin:1px 0;outline:0;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;-webkit-box-shadow:none;box-shadow:none}
.chzn-container-multi .chzn-choices .search-field .default{color:#999}
.chzn-container-multi .chzn-choices .search-choice{-webkit-border-radius:3px;border-radius:3px;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;background-color:#e4e4e4;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0.2, #f4f4f4), color-stop(0.5, #f0f0f0), color-stop(0.52, #e8e8e8), color-stop(1, #eee));background-image:-webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);background-image:-moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);background-image:-o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);background-image:-ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);background-image:linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);-webkit-box-shadow:0 0 2px #fff inset,0 1px 0 rgba(0,0,0,0.05);-moz-box-shadow:0 0 2px #fff inset,0 1px 0 rgba(0,0,0,0.05);-webkit-box-shadow:0 0 2px #fff inset,0 1px 0 rgba(0,0,0,0.05);box-shadow:0 0 2px #fff inset,0 1px 0 rgba(0,0,0,0.05);color:#333;border:1px solid #aaa;line-height:13px;padding:3px 20px 3px 5px;margin:3px 0 3px 5px;position:relative;cursor:default}
.chzn-container-multi .chzn-choices .search-choice-focus{background:#d4d4d4}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close{display:block;position:absolute;right:3px;top:4px;width:12px;height:13px;font-size:1px;background:url("../vendor/img/chosen-sprite.png") right top no-repeat}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover{background-position:right -11px}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close{background-position:right -11px}
.chzn-container .chzn-results{margin:0 4px 4px 0;max-height:240px;padding:0 0 0 4px;position:relative;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch}
.chzn-container-multi .chzn-results{margin:-1px 0 0;padding:0}
.chzn-container .chzn-results li{display:none;line-height:15px;padding:5px 6px;margin:0;list-style:none}
.chzn-container .chzn-results .active-result{cursor:pointer;display:list-item}
.chzn-container .chzn-results .highlighted{background-color:#3875d7;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0.2, #3875d7), color-stop(0.9, #2a62bc));background-image:-webkit-linear-gradient(top, #3875d7 20%, #2a62bc 90%);background-image:-moz-linear-gradient(top, #3875d7 20%, #2a62bc 90%);background-image:-o-linear-gradient(top, #3875d7 20%, #2a62bc 90%);background-image:-ms-linear-gradient(top, #3875d7 20%, #2a62bc 90%);background-image:linear-gradient(top, #3875d7 20%, #2a62bc 90%);color:#fff}
.chzn-container .chzn-results li em{background:#feffde;font-style:normal}
.chzn-container .chzn-results .highlighted em{background:transparent}
.chzn-container .chzn-results .no-results{background:#f4f4f4;display:list-item}
.chzn-container .chzn-results .group-result{cursor:default;color:#999;font-weight:bold}
.chzn-container .chzn-results .group-option{padding-left:15px}
.chzn-container-multi .chzn-drop .result-selected{display:none}
.chzn-container .chzn-results-scroll{background:#fff;margin:0 4px;position:absolute;text-align:center;width:321px;z-index:1}
.chzn-container .chzn-results-scroll span{display:inline-block;height:17px;text-indent:-5000px;width:9px}
.chzn-container .chzn-results-scroll-down{bottom:0}
.chzn-container .chzn-results-scroll-down span{background:url("../vendor/img/chosen-sprite.png") no-repeat -4px -3px}
.chzn-container .chzn-results-scroll-up span{background:url("../vendor/img/chosen-sprite.png") no-repeat -22px -3px}
.chzn-container-active .chzn-single{-webkit-box-shadow:0 0 5px rgba(0,0,0,0.3);box-shadow:0 0 5px rgba(0,0,0,0.3);border:1px solid #5897fb}
.chzn-container-active .chzn-single-with-drop{border:1px solid #aaa;-webkit-box-shadow:0 1px 0 #fff inset;box-shadow:0 1px 0 #fff inset;background-color:#eee;background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0.2, #eee), color-stop(0.8, #fff));background-image:-webkit-linear-gradient(top, #eee 20%, #fff 80%);background-image:-moz-linear-gradient(top, #eee 20%, #fff 80%);background-image:-o-linear-gradient(top, #eee 20%, #fff 80%);background-image:-ms-linear-gradient(top, #eee 20%, #fff 80%);background-image:linear-gradient(top, #eee 20%, #fff 80%);border-bottom-left-radius:0;border-bottom-right-radius:0}
.chzn-container-active .chzn-single-with-drop div{background:transparent;border-left:none}
.chzn-container-active .chzn-single-with-drop div b{background-position:-18px 1px}
.chzn-container-active .chzn-choices{-webkit-box-shadow:0 0 5px rgba(0,0,0,0.3);-moz-box-shadow:0 0 5px rgba(0,0,0,0.3);-o-box-shadow:0 0 5px rgba(0,0,0,0.3);-webkit-box-shadow:0 0 5px rgba(0,0,0,0.3);box-shadow:0 0 5px rgba(0,0,0,0.3);border:1px solid #5897fb}
.chzn-container-active .chzn-choices .search-field input{color:#111}
.chzn-disabled{cursor:default;opacity:.5;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=50);filter:alpha(opacity=50)}
.chzn-disabled .chzn-single{cursor:default}
.chzn-disabled .chzn-choices .search-choice .search-choice-close{cursor:default}
.chzn-rtl{text-align:right}
.chzn-rtl .chzn-single{padding:0 8px 0 0;overflow:visible}
.chzn-rtl .chzn-single span{margin-left:26px;margin-right:0;direction:rtl}
.chzn-rtl .chzn-single div{left:3px;right:auto}
.chzn-rtl .chzn-single abbr{left:26px;right:auto}
.chzn-rtl .chzn-choices .search-field input{direction:rtl}
.chzn-rtl .chzn-choices li{float:right}
.chzn-rtl .chzn-choices .search-choice{padding:3px 5px 3px 19px;margin:3px 5px 3px 0}
.chzn-rtl .chzn-choices .search-choice .search-choice-close{left:4px;right:auto;background-position:right top}
.chzn-rtl.chzn-container-single .chzn-results{margin:0 0 4px 4px;padding:0 4px 0 0}
.chzn-rtl .chzn-results .group-option{padding-left:0;padding-right:15px}
.chzn-rtl.chzn-container-active .chzn-single-with-drop div{border-right:none}
.chzn-rtl .chzn-search input{background:url("../vendor/img/chosen-sprite.png") no-repeat -38px -22px,-webkit-gradient(linear, left top, left bottom, color-stop(0.01, #eee), color-stop(0.15, #fff));background:url("../vendor/img/chosen-sprite.png") no-repeat -38px -22px,-webkit-linear-gradient(top, #eee 1%, #fff 15%);background:url("../vendor/img/chosen-sprite.png") no-repeat -38px -22px,-moz-linear-gradient(top, #eee 1%, #fff 15%);background:url("../vendor/img/chosen-sprite.png") no-repeat -38px -22px,-o-linear-gradient(top, #eee 1%, #fff 15%);background:url("../vendor/img/chosen-sprite.png") no-repeat -38px -22px,-ms-linear-gradient(top, #eee 1%, #fff 15%);background:url("../vendor/img/chosen-sprite.png") no-repeat -38px -22px,linear-gradient(top, #eee 1%, #fff 15%);padding:4px 5px 4px 20px;direction:rtl}
