
extends layout

block content
  include order
  include print
  include modals/alert
  include modals/confirm


block scripts
  script(src='/js/views/home.js')
  script(src='/js/controllers/homeController.js')

