extends layout

block content
  .container
    include account
  include modals/alert
  include modals/confirm


block scripts
  script(src='/js/views/homeBundle.min.js')
  script(src='/js/controllers/homeController.js')
