
logged = null

!!!
html
  head
    include includes/head
    block stylesheets
  body
    section#sidebar
      block sidebar
      block brand
    section#content
      block nav-top
      block title-top
      block content
    block scripts
    include includes/footer
