logged = null

!!!
html
  head
    include includes/head
    block stylesheets
  body
    .wrapper
      .inner
        .navigation
          include navigation
        block content
    block scripts
    include includes/footer
