logged = true

!= partial('./print')

include options/navigation
// include account
// include modals/alert
// include modals/confirm
// 
// script(src='/js/views/home.js')
// script(src='/js/controllers/homeController.js')
