extends layout



block navigation
  button#btn-logout.btn.btn-primary
    i.icon-lock.icon-white
      | Sign Out
  a(href='/home')
    button.btn.btn-primary
      i.icon-home.icon-white
      | Home
  button#btn-account-show.btn.btn-primary
    i.icon-leaf.icon-white
    | Account
