
div.navbar.navbar-fixed-top

  div.navbar-inner

    div.container:.container-inner

      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar

      .brand-container
        a.inner(href='./')
          .brand 
            span.title spinly
            span.subscript by deffenbaugh
          canvas#canvas(width='200', height='200')

      .nav-collapse.collapse(style="height: 0px")
        ul.nav.pull-right

          if user != undefined
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.icon-user.
                #{user} 
                b.caret
              ul.dropdown-menu
                li 
                  a(href='/home')
                    i.icon-home
                    | Home
                li.divider
                li 
                  a(href='#')#btn-logout
                    i.icon-signout
                    | Logout

          else
            li 
              a(href='/login')
                i.icon-signin
                | Login
