
.order-wrapper:.order-container
  ul.filter.option-set(filter-group='cat')
    li: a(filter-value='.*') All
    each c in CT.cats
      li: a(filter-value='.'+c.name)= c.name

  mixin tags( o, m )
    ul.filter.option-set(filter-group= o[m].name +'tags')
      each l in o[m].tags
        li: a(filter-value='.'+ l)= l

  mixin tags( CT.cats, 0 )
  mixin tags( CT.cats, 1 )
  mixin tags( CT.cats, 2 )
  mixin tags( CT.cats, 3 )
  mixin tags( CT.cats, 4 )

  ul.filter.option-set(filter-group='wildcards')
    li: a(filter-value='.*') All
    each c in CT.wildcards
      li: a(filter-value='.'+c.wildcard)= c.wildcard

  ul.filter.option-set(filter-group='county')
    li: a(filter-value='.*') All
    each c in CT.counties
      li: a(filter-value='.'+c.county)= c.county

